@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, input, label, a {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

p, label, a {
  font-size: 13px;
  line-height: 21px;
}

a {
  color: var(--teal);
  font-weight: 100;
  text-decoration: none;
}

h3, input {
  font-size: 21px;
  line-height: 34px;
  font-weight: 100;
}

h2 {
  font-size: 34px;
  line-height: 55px;
}

h1 {
  font-size: 55px;
  line-height: 89px;
}

