:root {
  --dark: #23262e;
  --gray: #5f6167;
  --light-grey: #D5CED9;
  --teal: #00e8c6;
  --orange: #f39c12;
  --yellow: #FFE66D;
  --pink: #ff00aa;
  --scarlet: #f92672;
  --purple: #c74ded;
  --grey-blue: #7cb7ff;
  --tomato: #ee5d43;
  --green: #96E072;
  --blue: #6796e6;
  --rust: #cd9731;
  --red: #f44747;
  --purple: #b267e6;
  --border-radius: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: calc(13px * 1.5);
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: calc(21px * 1.5);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: calc(34px * 1.5);
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #screen-difficulty {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body #screen-difficulty h1, body #screen-difficulty .button-group {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

body #screen-difficulty h1 {
  color: var(--light-grey);
}

body #screen-difficulty button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 150px;
  height: 100px;
  margin: 34px;
  color: white;
  font-weight: 700;
  border-radius: var(--border-radius);
}

body #screen-difficulty [data-difficulty='easy'] {
  background-color: var(--green);
}

body #screen-difficulty [data-difficulty='medium'] {
  background-color: var(--yellow);
}

body #screen-difficulty [data-difficulty='hard'] {
  background-color: var(--red);
}

body #screen-lose, body #screen-win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body #screen-lose h1, body #screen-win h1 {
  color: white;
  text-align: center;
  margin: 0;
  line-height: 50vh;
}

body #screen-lose button, body #screen-win button {
  display: block;
  width: 200px;
  padding: 9px;
  margin: 9px auto;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--dark);
  color: white;
}

body #screen-lose {
  background-color: var(--red);
}

body #screen-win {
  background-color: var(--green);
}

body #board {
  height: 100vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(70% - 144px);
          flex: 0 0 calc(70% - 144px);
  padding: 72px;
}

body #board #span-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body #board #span-wrapper span {
  border-radius: var(--border-radius);
  min-width: 36px;
  height: 50px;
  background-color: var(--light-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin: 8px;
}

body #board #span-wrapper .letter-span {
  display: none;
}

body #board #span-wrapper .reveal {
  display: inline;
}

body #board canvas {
  border-radius: var(--border-radius);
  display: block;
  background-color: var(--light-grey);
  margin: 72px auto;
  padding: 72px;
}

body #controls {
  height: 100vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #controls #guess-inputs, body #controls #new-game-inputs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

body #controls #guess-inputs input, body #controls #guess-inputs button {
  width: calc(100% - 36px);
  padding: 9px;
  margin: 9px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body #controls #guess-inputs input {
  text-align: center;
  margin-top: 36px;
  padding: 18px 0;
  background-color: var(--light-grey);
  font-size: 24px;
  color: white;
}

body #controls #guess-inputs button {
  background-color: var(--green);
  color: white;
}

body #controls #guess-inputs h1 {
  text-align: center;
  margin: 36px 0;
  line-height: 36px;
  color: var(--red);
}

body #controls #new-game-inputs button {
  width: calc(100% - 36px);
  padding: 9px;
  margin: 9px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--dark);
  color: white;
}

body #controls #used-letters {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

body #controls #used-letters .used-letter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 50px;
  text-align: center;
}

.fade-up {
  -webkit-animation: fadeUp 0.5s;
          animation: fadeUp 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
          animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.fade-down {
  -webkit-animation: fadeDown 0.5s;
          animation: fadeDown 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
          animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  1% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  1% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.notification {
  position: fixed;
  top: 36px;
  left: 36px;
  z-index: 1000;
  width: 400px;
  height: 50px;
  background-color: var(--red);
  border-radius: var(--border-radius);
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
          animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.notification p {
  margin: 0 auto;
  color: white;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 50px;
}

.fade-in {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
          animation-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
