/* INDEX */

#polygon-wrapper {
  position: fixed;
  bottom: -5px;
  width: 100%;
  margin: auto;
  height: calc((100vh/3) * 2);

  display: flex;
  justify-content: center;
}

/* ----- ----- */

#about, #projects, #timeline {
  padding-top: 200px;
}