@import './main.css';



/* ================================================== */
/* BORDER INFO */
/* ================================================== */

#border-info {
    position: fixed;
    margin: 5px;
    top: 0;
    left: 0;
    font-size: 13px;

    width: calc(34px);
    height: 13px;

    display: grid;
    place-items: center;
}

#background-image {
    width: 3000px;
    height: 3000px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 3000px 3000px;
    background-attachment: fixed;
    background-position: center;
    transition-duration: 600ms;
    transition-timing-function: var(--easeout);
    opacity: 0.05;
}



/* ================================================== */
/* MINI MAP / MAP */
/* ================================================== */

#mini-map {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    width: 34px;
    height: 44px;
    cursor: pointer;
    z-index: 2;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2C2C2C;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    transition-duration: 300ms;
    pointer-events: none;
    opacity: 0;
}

#map h1 {
    color: white;
}

#map.visible {
    opacity: 1 !important;
    pointer-events: all !important;
}




/* ================================================== */
/* PAGE */
/* ================================================== */

.page {
    margin: calc(55px + 5px + 5px);
    height: calc(100vh - ((34px + 5px + 5px) * 2));
    width: calc(100vw - ((34px + 5px + 5px) * 2));

    opacity: 1;
    transition-duration: 300ms;
    overflow-y: scroll;
    overflow-x: hidden;
}






/* ================================================== */
/* KEYFRAMES */
/* ================================================== */

@keyframes Left {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateX(-30px);
    }
}

@keyframes Right {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateX(30px);
    }
}

@keyframes Up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30px);
    }
}

@keyframes Down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}



/* ================================================== */
/* PAGE TRANSITIONS */
/* ================================================== */

.page.out {
    opacity: 0;
}

.page.up.in {
    animation: Up;
    animation-duration:300ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: var(--easein);
}

.page.up.out {
    animation: Down;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: var(--easeout);
}

.page.down.in {
    animation: Down;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: var(--easein);
}

.page.down.out {
    animation: Up;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: var(--easeout);
}

.page.left.in {
    animation: Left;
    animation-duration:300ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: var(--easein);
}

.page.left.out {
    animation: Right;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: var(--easeout);
}

.page.right.in {
    animation: Right;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: var(--easein);
}

.page.right.out {
    animation: Left;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: var(--easeout);
}