@import './main.css';



/* PAGE */

#border-info {
    position: fixed;
    margin: 5px;
    top: 0;
    left: 0;
    font-size: 13px;

    width: calc(34px);
    height: calc(34px);

    display: grid;
    place-items: center;
}

#mini-map {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    width: 34px;
    height: 44px;
}

.page {
    margin: calc(34px + 5px + 5px);
    height: calc(100vh - ((34px + 5px + 5px) * 2));
    width: calc(100vw - ((34px + 5px + 5px) * 2));

    background-color: #FAFAFA;
}