@import './main.css';

#nav {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition-duration: 300ms;
}

#nav.invisible {
    opacity: 0;
    pointer-events: none;
}

.nav-item {
    position: fixed;
    margin: 5px;
    font-size: 21px;
    line-height: 34px;

    cursor: pointer !important;
}

.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.vertical {
    writing-mode: vertical-rl !important;
    text-orientation: mixed !important;
}