/* ----- ----- ----- ----- */
/* NAV   ----- ----- ----- */
/* ----- ----- ----- ----- */

#nav {
  width: 0;
  height: 0;
  opacity: 1;
  transition-duration: 0.5s;
}

.nav-hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.nav-is-closed::before {
  content: '';
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200vw;
  height: 200vh;
  background-color: white;
  transform-origin: top left;
  transition-duration: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.nav-is-open::before {
  content: '';
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200vw;
  height: 200vh;
  background-color: white;
  transform-origin: top left;
  transition-duration: 0.5s;
  opacity: 0.75;
  pointer-events: all;
}



/* ----- ----- ----- ----- */
/* NAV SVG --- ----- ----- */
/* ----- ----- ----- ----- */

#nav #svg {
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
}

#nav .svg-is-closed {
  transform: rotate(180deg) translate(calc(100% - (89px * 4)), calc(100% - 89px));
}

#nav .svg-is-open {
  transform: rotate(180deg) translate(20%, 20%);
}



/* ----- ----- ----- ----- */
/* NAV LINKS - ----- ----- */
/* ----- ----- ----- ----- */

#nav #links {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 89px 0;
  pointer-events: none;
}

#nav .links-is-open .nav-link {
  transform: translateX(89px);
  opacity: 1;
  pointer-events: all;
}

#nav .links-is-closed .nav-link {
  transform: translateX(-89px);
  opacity: 0;
  pointer-events: none;
}



/* ----- ----- ----- ----- */
/* NAV LINKS ITEMS - ----- */
/* ----- ----- ----- ----- */

.nav-link {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
  color: black;
  width: fit-content;
  cursor: pointer;
  padding-left: 34px;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  width: 150%;
  height: 34px;
  z-index: -1;
  transition-duration: 0.25s;
}

.nav-link:hover::before {
  background-color: red;
}