#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
  background-color: rgba(248, 248, 255, 0.9);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#nav-expand {
  position: absolute;
  top: 20px;
  right: -75px;
  background-color: white;
  opacity: 0.5;
  transition-duration: 0.25s;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

#nav-expand:hover { opacity: 0.9; }

#nav-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#nav-links-wrapper div {
  display: flex;
  flex-wrap: wrap;
}


.nav-link {
  padding: 8px 13px;
  cursor: pointer;
  color: black;
  flex: 0 0 100%;
  transition-duration: 0.25s;
}

.nav-link:hover {
  background-color: black;
  color: white;
}

#nav-links-wrapper div a {
  padding: 8px 13px;
  color: red;
  margin-bottom: 21px;
}


/* animations */

.nav-closed {
  transform: translateX(-101%);
}

.nav-open {
  transform: translateX(0)
}