:root {
  --dark: #23262e;

  --gray: #5f6167;
  --light-grey: #D5CED9;
  --teal: #00e8c6;
  --orange: #f39c12;
  --yellow: #FFE66D;
  --pink: #ff00aa;
  --scarlet: #f92672;
  --purple: #c74ded;
  --grey-blue: #7cb7ff;
  --tomato: #ee5d43;
  --green: #96E072;
  --blue: #6796e6;
  --rust: #cd9731;
  --red: #f44747;
  --purple: #b267e6;

  --border-radius: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: calc(13px * 1.5)
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: calc(21px * 1.5)
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: calc(34px * 1.5)
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  #screen-difficulty {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    h1, .button-group {
      text-align: center;
      flex: 0 0 100%;
    }

    h1 {
      color: var(--light-grey);
    }

    button {
      border: none;
      box-shadow: none;
      width: 150px;
      height: 100px;
      margin: 34px;
      color: white;
      font-weight: 700;
      border-radius: var(--border-radius);
    }

    [data-difficulty='easy'] {
      background-color: var(--green);
    }

    [data-difficulty='medium'] {
      background-color: var(--yellow);
    }

    [data-difficulty='hard'] {
      background-color: var(--red);
    }
  }

  #screen-lose, #screen-win {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: scaleY(0);

    h1 {
      color: white;
      text-align: center;
      margin: 0;
      line-height: 50vh;
    }

    button {
      display: block;
      width: 200px;
      padding: 9px;
      margin: 9px auto;
      border: none;
      box-shadow: none;
      background-color: var(--dark);
      color: white;
    }
  }

  #screen-lose {
    background-color: var(--red);
  }

  #screen-win {
    background-color: var(--green);
  }

  #board {
    height: 100vh;
    // width: 100%;
    flex: 0 0 calc(70% - 144px);
    padding: 72px;


    #span-wrapper {
      display: flex;
      margin: auto;
      width: fit-content;
      
      span {
        border-radius: var(--border-radius);
        min-width: 36px;
        height: 50px;
        background-color: var(--light-grey);
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 8px;
      }
      
      .letter-span {
        display: none;
      }
      
      .reveal {
        display: inline;
      }
    }

    canvas {
      border-radius: var(--border-radius);
      display: block;
      background-color: var(--light-grey);
      margin: 72px auto;
      padding: 72px;
    }

  }

  #controls {
    height: 100vh;
    flex: 0 0 30%;

    display: flex;
    flex-direction: column;
    
    #guess-inputs, #new-game-inputs {
      flex: 0 0 25%;
    }

    #guess-inputs {
      input, button {
        width: calc(100% - 36px);
        padding: 9px;
        margin: 9px;
        border: none;
        box-shadow: none;
      }

      input {
        text-align: center;
        margin-top: 36px;
        padding: 18px 0;
        background-color: var(--light-grey);
        font-size: 24px;
        color: white;
      }

      button {
        background-color: var(--green);
        color: white;
      }

      h1 {
        text-align: center;
        margin: 36px 0;
        line-height: 36px;
        color: var(--red);
      }
    }

    #new-game-inputs {
      button {
        width: calc(100% - 36px);
        padding: 9px;
        margin: 9px;
        border: none;
        box-shadow: none;
        background-color: var(--dark);
        color: white;
      }
    }

    #used-letters {
      flex: 0 0 50%;
      display: flex;
      flex-wrap: wrap;
      align-content: baseline;

      .used-letter {
        flex: 0 0 20%;
        height: 50px;
        text-align: center;
      }
    }
  }

}

.fade-up {
  animation: fadeUp 0.5s;
  animation-timing-function: cubic-bezier(.68,0,.32,1);
  animation-fill-mode:  forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0); 
  }
  99% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    transform: scaleY(0)
  }
}

.fade-down {
  animation: fadeDown 0.5s;
  animation-timing-function: cubic-bezier(.68,0,.32,1);
  animation-fill-mode:  forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: scaleY(1)
  }
  1% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.notification {
  position: fixed;
  top: 36px;
  left: 36px;
  z-index: 1000;
  width: 400px;
  height: 50px;
  background-color: var(--red);
  border-radius: var(--border-radius);

  animation: fadeOut 0.5s;
  animation-timing-function: cubic-bezier(.68,0,.32,1);
  animation-fill-mode:  forwards;

  p {
    margin: 0 auto;
    color: white;
    display: block;
    width:  fit-content;
    line-height: 50px;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
  animation-timing-function: cubic-bezier(.68,0,.32,1);
  animation-fill-mode:  forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%); 
  }
}