


// ----- ----- ----- ----- -----
// CARD  ----- ----- ----- -----
// ----- ----- ----- ----- -----

$unit: calc(100vw/13);
$height5:  calc( #{$unit} * 5);

$card-unit: calc( #{$height5} / 6);
$card-height1:  $card-unit;
$card-height2:  calc( #{$card-unit} * 2);
$card-height3:  calc( #{$card-unit} * 2);

.card {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;

  .card-image {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: $card-height2;
  }

  .card-info {
    padding: 13px;

      .title-time {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
      }
  }

  .card-footer {
    padding: 13px;
    display: flex;  
    justify-content: space-between;

    .card-tags {
      flex: 0 0 calc(50% - 13px);
    }

    .card-links {
      flex: 0 0 calc(50% - 13px);
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-end;
    }
  }
}



// ----- ----- ----- ----- -----
// TABLET ---- ----- ----- -----
// ----- ----- ----- ----- -----

@media only screen and (max-width: 1000px) {
  .card-image {
    height: 30vh !important;
  }
}