


// ----- ----- ----- ----- -----
// GENERAL --- ----- ----- -----
// ----- ----- ----- ----- -----

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

h1,
h2,
h3,
p,
a,
li,
button {
  margin: 0;
  padding: 0px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 89px;
  font-weight: 900;
  color: var(--dark);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 300;
  color: var(--dark);

}

h3 {
  font-family: 'Roboto', monospace; 
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--dark);
  letter-spacing: 1px;
}

p, a, button, li {
  font-family: 'Roboto', monospace; 
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}

p, li {
  color: var(--dark)
}

a {
  color: var(--blue);
}

.underlined {
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid black;
}

.link-like-button {
  cursor: pointer;
  transition-duration: 0.25s;
  padding: 21px;
  margin-top: 21px;

  &.blue { background-color: var(--blue); color: var(--light)}
  &.green { background-color: var(--green); color: var(--light)}
  &.yellow { background-color: var(--yellow); color: var(--light)}
  &.pink { background-color: var(--pink); color: var(--light)}
  &.purple { background-color: var(--purple); color: var(--light)}

  &.blue:hover { background-color: var(--blue-alt); }
  &.green:hover { background-color: var(--green-alt); }
  &.yellow:hover { background-color: var(--yellow-alt); }
  &.pink:hover { background-color: var(--pink-alt); }
  &.purple:hover { background-color: var(--purple-alt); }
}



// ----- ----- ----- ----- -----
// BUTTON ---- ----- ----- -----
// ----- ----- ----- ----- -----

button {
  padding: 5px 13px;
  margin-bottom: 13px;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition-duration: 0.25s;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.primary {
  background-color: var(--blue);
  color: white;

  &:hover {
    background-color: var(--dark)
  }
}

.ghost {
  border: 1px solid tomato;
  color: tomato;

  &:hover {
    border: 1px solid rgb(209, 40, 10);;
    background-color: rgb(209, 40, 10);
    color: white;
  }
}

.link {
  color: tomato;
  text-align: left;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    color: rgb(209, 40, 10);
  }
}

.button-condensed {
  margin-bottom: 0 !important;
}