@import '~antd/dist/antd.css';

:root {
  --dark: #1f1f1f;
  --light: #FFFFFF;
  --gray: #EEEEEE;
  
  --blue: rgba(44, 151, 222, 1);
  --green: rgba(45, 189, 168, 1);
  --yellow: rgba(239, 198, 99, 1);
  --pink: rgba(225, 96, 112, 1);
  --purple: rgba(150, 119, 223, 1);

  --blue-alt: rgba(24, 131, 202, 1);
  --green-alt: rgba(25, 169, 148, 1);
  --yellow-alt: rgba(219, 178, 79, 1);
  --pink-alt: rgba(205, 76, 96, 1);
  --purple-alt: rgba(150, 96, 203, 1);
}


// ----- ----- ----- ----- -----
// GENERAL --- ----- ----- -----
// ----- ----- ----- ----- -----

$unit: calc(100vw/13);

$col3:  calc( #{$unit} * 3);
$col7:  calc( #{$unit} * 7);
$col11: calc( #{$unit} * 11);


::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--light);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  margin: calc( #{$unit} * 2) $unit $unit $unit;
  width: $col11;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

ul {
  padding-left: 18px;
}

.split-text {
  word-spacing: 100vw; 
}



// ----- ----- ----- ----- -----
// COLUMNS --- ----- ----- -----
// ----- ----- ----- ----- -----

.col {
  display: block;
  min-height: 89px;
  margin-bottom: 89px;
  padding: 0 !important;

  &.blue { background-color: var(--blue); color: var(--light)}
  &.green { background-color: var(--green); color: var(--light)}
  &.yellow { background-color: var(--yellow); color: var(--light)}
  &.pink { background-color: var(--pink); color: var(--light)}
  &.purple { background-color: var(--purple); color: var(--light)}

  &.hoverable {
    cursor: pointer;
    transition-duration: 0.25s;

    &.blue:hover { background-color: var(--blue-alt); }
    &.green:hover { background-color: var(--green-alt); }
    &.yellow:hover { background-color: var(--yellow-alt); }
    &.pink:hover { background-color: var(--pink-alt); }
    &.purple:hover { background-color: var(--purple-alt); }
  }
}

.col-1 {
  width: $col3;
  margin-right: $unit;
}

.col-2 {
  width: $col7;
  margin-right: $unit;
}

.col-3 {
  width: $col11;
  margin-right: 0;
}

.subgrid {
  display: flex;
  flex-wrap: wrap;

  .col {
    margin-bottom: 0;
  }
}

.nomarg-desktop {
  margin-right: 0;
}

.align-right {
  text-align: right;
  * {
    text-align: right;
  }
}



// ----- ----- ----- ----- -----
// TABLET ---- ----- ----- -----
// ----- ----- ----- ----- -----

@media only screen and (max-width: 1000px) {

  $tablet-unit: calc(100vw/9);

  $col3:  calc( #{$tablet-unit} * 3);
  $col9:  calc( #{$tablet-unit} * 7);

  #root {
    margin: calc( #{$tablet-unit} * 2) $tablet-unit $tablet-unit $tablet-unit;
    width: $col9;
  }

  .col-1 {
    width: $col3;
    margin-right: $tablet-unit;
  }

  .col-2 {
    width: $col9;
    margin-right: 0;
  }

  // overrides

  .col-1-tablet {
    width: $col3;
    margin-right: $tablet-unit;
  }

  .col-2-tablet  {
    width: $col9;
    margin-right: 0;
  }

  .nomarg-tablet {
    margin-right: 0;
  }

  .allow-overflow, .hide-desktop {
    display: none;
  }
}



// ----- ----- ----- ----- -----
// MOBILE ---- ----- ----- -----
// ----- ----- ----- ----- -----

@media only screen and (max-width: 500px) {

  .col {
    margin-bottom: 7.69230769231;
  }

  .col-1,
  .col-2,
  .col-3 {
    flex: 0 0 100%;
    margin-right: 0;
  }

  .col-2 {
    .subgrid {
      .subcol-1 {
        flex: 0 0 100% !important;
        margin-right: 0 !important;
        margin-bottom: 7.69230769231%;
      }
    }
  }

}



// ----- ----- ----- ----- -----
// TAG - ----- ----- ----- -----
// ----- ----- ----- ----- -----

.tag {
  font-size: 13px;
  font-family: 'Roboto Mono', monospace; 
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  margin: 3px;
  display: inline-block;
  background-color: var(--light);

  &.blue { background-color: var(--blue); color: var(--light)}
  &.green { background-color: var(--green); color: var(--light)}
  &.yellow { background-color: var(--yellow); color: var(--light)}
  &.pink { background-color: var(--pink); color: var(--light)}
  &.purple { background-color: var(--purple); color: var(--light)}
}



// ----- ----- ----- ----- -----
// ICON  ----- ----- ----- -----
// ----- ----- ----- ----- -----

.icon {
  margin-left: 8px;
  
  i {
    border-radius: 100px;
    text-align: center;
    width: 34px;
    line-height: 34px !important;
    color: var(--light);

    svg {
      transform: translateY(1px);
      position: relative;
    }
      
  }

  &.blue { * {background-color: var(--blue); }}
  &.green { * {background-color: var(--green); }}
  &.yellow { * {background-color: var(--yellow); }}
  &.pink { * {background-color: var(--pink); }}
  &.purple { * {background-color: var(--purple); }}
  &.transparent { * {background-color: transparent; }}
  
}






#grid-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  // z-index: +2;
  opacity: 1;
  pointer-events: none;
}