$unit: calc(100vw/13);
$minus-unit: calc(100vw/-13);

$height2:  calc( #{$unit} * 2);
$width3:  calc( #{$unit} * 3);
$width5:  calc( #{$unit} * 5);


#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $unit;

  display: flex;
  justify-content: flex-end;
  z-index: +1;
  pointer-events: none;

  .menu-icon {

    width: $unit;
    height: $unit;
    background-color: var(--dark);
    z-index: +1;
    pointer-events: all;
    cursor: pointer;

    * { 
      color: var(--light); 
      line-height: $unit;
      text-align: center;
    } 
  }

  .nav-links {
    position: absolute;
    width: $width5;
    height: 120vh;
    background-color: var(--dark);
    transition-duration: 0.5s;
    padding-top: $height2;

    @for $i from 1 to 10 {
      .nav-link:nth-child(#{$i}) {
        transition-delay: $i * 0.05s + 0.125;
      }
    }

    .nav-link {
      text-align: left;
      line-height: 34px !important;
      margin-left: $unit;
      margin-bottom: 21px;
      color: var(--light);
      transition-duration: 0.25s;
      cursor: pointer;

      &.nav-is-open {
        transform: translateY(0);
        opacity: 1;
      }

      &.nav-is-closed {
        transform: translateY($unit);
        transition-delay: 0.5s;
        opacity: 0;
      }
    }

    .nav-icons {
      margin-left: $unit;
      margin-top: $unit;
      height: $unit;
      width: 100%;
      min-height: $unit;
      min-width: $width3;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @for $i from 1 to 10 {
        .icon:nth-child(#{$i}) {
          transition-delay: $i * 0.05s + 0.25;
        }
      }

      .icon {
        transition-duration: 0.25s;
        width: calc( #{$unit} - 21px);
        height: calc( #{$unit} - 21px);
        min-height: 54px;
        min-width: 54px;
        margin: 0 21px 21px 0;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 34px;
        }

        &.nav-is-open {
          transform: translateX(0);
          opacity: 1;
        }
  
        &.nav-is-closed {
          transform: translateX($unit);
          transition-delay: 0.25s;
          transition-duration: 0;
          opacity: 0;
        }

        &.blue { background-color: var(--blue); }
        &.green { background-color: var(--green); }
        &.yellow { background-color: var(--yellow); }
        &.pink { background-color: var(--pink); }
        &.purple { background-color: var(--purple); }
      }

    }

    &.nav-is-open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }

    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: -100vw;
      width: 100vw;
      height: calc(100vh + #{$unit});
      background-color: rgba(0, 0, 0, 0.5)
    }

    &.nav-is-closed {
      transform: translateY($minus-unit);
      opacity: 0;
      pointer-events: none !important;
    }
  }

  .nav-caption {
    position: absolute;
    top: calc(200vw / 13);
    right: 0;
    writing-mode: vertical-rl;
    height: 500px;
    line-height: calc(100vw / 13);
  }
}






// ----- ----- ----- ----- -----
// TABLET ---- ----- ----- -----
// ----- ----- ----- ----- -----

@media only screen and (max-width: 1000px) {
  $tablet-unit: calc(100vw/9);
  $tablet-width5:  calc( #{$tablet-unit} * 5);

  #nav {
    height: $tablet-unit;
  
    .menu-icon {  
      width: $tablet-unit;
      height: $tablet-unit;
      * { 
        line-height: $tablet-unit !important;
      }
    }

    .nav-links {
      width: $tablet-width5;

      .nav-icons {
        height: $tablet-unit;
      }
    }

    .nav-caption {
      top: calc(200vw / 9);
      line-height: calc(100vw / 9);
    }

  }

}

// ----- ----- ----- ----- -----
// MOBILE ---- ----- ----- -----
// ----- ----- ----- ----- -----

@media only screen and (max-width: 750px) {

  .nav-links {
    width: 100vw !important;
  }

  .menu-icon {
    width: 100vw !important;
  }

  .nav-caption {
    display: none;
  }

}



