#index {
  
  .border-bottom {
    padding-bottom: 89px !important;
    border-bottom: 0.5px solid #EEE;
  }

  .action-box {  

    height: fit-content;

    * {
      color: white;
      padding: 55px;
    };

  }

}