// ----- ----- ----- -----
// PRESET LIST ----- -----
// ----- ----- ----- -----

#preset-list {
  .header {
    padding-bottom: 89px !important;

    h1 {
      margin-bottom: 21px;
    }

    h3 {
      margin: 42px 0 !important;
    }

    .header-text {
      max-width: 650px;
      margin-bottom: 21px;
    }

    .link-like-button {
      margin-right: 21px;
    }
  }
}



// ----- ----- ----- -----
// PRESET ---- ----- -----
// ----- ----- ----- -----

.preset {
  p, h3, img, .preview {
    margin-bottom: 21px;
  }
}



// ----- ----- ----- ----- -----
// TABLET ---- ----- ----- -----
// ----- ----- ----- ----- -----

@media only screen and (max-width: 1000px) {
  #preset-list {
    .header {
      .link-like-button {
        display: block;
        text-align: center;
      }
    }
  }
}