// ----- ----- ----- ----- -----
// PROJECTS -- ----- ----- -----
// ----- ----- ----- ----- -----

#project-list {
  position: fixed;
  padding-left: calc(100%/13);
  padding-top: 89px;
  padding-bottom: 89px;
  left: 0;
  top: 0;
  width: calc(100% - ((100%/13) * 10));
  height: calc(100vh - 89px);
  overflow-y: scroll;

  h2 {
    margin-bottom: 89px;
    color: red;
  }

  .project-technologies {
    color: tomato;
  }

  &::after {
    position: absolute;
    top: -89px;
    right: -50%;
    content: '';
    background-color: black;
    height: 100vh;
    z-index: -1;
  }
}

.tablet-show {
  display: none;
}

@media only screen and (max-width: 1000px) {

  #project-list {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0;
    background-color: transparent;

    h2 {
      margin-bottom: 89px;
      color: red;
    }
  }

  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: block;
  }

}



// ----- ----- ----- ----- -----
// GENERATE PROJECT  ----- -----
// ----- ----- ----- ----- -----

.project {
  .project-header {
    margin-bottom: 89px;
  }

  .section {
    margin-bottom: 34px;
    h3 {
      margin-bottom: 34px;
    }
    .section-text {
      margin-bottom: 34px;
    }
    p {
      max-width: 500px;
      margin-bottom: 34px;
    }
  }
}

